:root {
  --bg: #f0ffff;
  --gray: #dddddd;
  --primary: #5a9cff;
  --accent: #9fc6ff;
  --danger: #ff0101;
  --danger-dark: #b90404;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 65%;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: var(--gray);
}
::selection {
  background-color: var(--gray);
}
body {
  font-family: "Raleway", sans-serif;
}
#body {
  background-color: var(--bg);
  height: 80vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
  overflow-y: hidden;
}
.blurred {
  filter: blur(5px);
}
#first-time {
  position: fixed;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh !important;
  height: max-content;
  margin: auto;
  z-index: 9999;
  text-align: center;
  background-color: #dddddd88;
}
#first-time h3 {
  margin-top: 5rem;
  font-size: 3rem;
}
#first-time button {
  font-weight: 600;
  background: none;
  outline: none;
  color: var(--primary);
  border: 3px solid var(--primary);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  padding: 1rem;
  font-size: 2rem;
  width: 50vw;
}
#first-time button:hover,
#first-time button:focus {
  background-color: var(--primary);
  color: var(--bg);
}
#first-time p {
  width: 25vw;
  min-width: 15ch;
  font-size: 2rem;
  margin: 3rem auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--bg);
}
.header h2 {
  font-size: 3rem;
  white-space: nowrap;
}
.header #addNoteLink {
  color: var(--primary);
  font-size: 1.2rem;
  text-decoration: none;
  background: none;
  outline: none;
  border: none;
}
#addNoteLink:hover,
#addNoteLink:focus {
  text-decoration: underline;
}
.left-pane .header {
  display: none;
}
.left-pane #notes {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 19rem);
  padding: 1rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--gray);
}
#notes .noItem {
  width: 90vw;
  padding: 0 2rem;
  font-size: 1.5rem;
}
.note-card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--accent);
  border-radius: 6px;
  padding: 1.5rem;
  cursor: pointer;
  margin: 0;
  user-select: none;
}
.note-card:hover {
  background-color: var(--primary);
}
.note-card .note-header {
  pointer-events: none !important;
}
.note-card h4 {
  font-size: 2rem;
}
.note-card p {
  font-weight: 400;
  max-width: 90%;
  font-size: 1.2rem;
  margin-top: 1rem;
  pointer-events: none;
}
.note-card button {
  font-weight: 700;
  font-size: 1rem;
  color: var(--danger);
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  pointer-events: all !important;
}
.note-card button:hover {
  color: var(--danger-dark);
}
.note-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-pane {
  display: flex;
  flex-direction: column-reverse;
}
.hidden {
  display: none !important;
}
.right-pane #add-note {
  min-height: 50vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#add-note span * {
  min-width: 100%;
}
#add-note input {
  font-size: 2rem;
  font-weight: 700;
}
#add-note textarea {
  font-size: 1.5rem;
  resize: none;
}
#add-note input,
#add-note textarea {
  font-family: "Roboto", sans-serif;
  border: 3px solid var(--gray);
  border-radius: 5px;
  outline: none;
  background-color: var(--gray);
  padding: 1rem;
}
#add-note input:focus,
#add-note textarea:focus {
  border: 3px solid var(--primary);
}
#add-note .desSpan {
  margin: 1.5rem 0;
}
#add-note .alert {
  color: var(--danger);
  font-size: 1rem;
}
#add-note button {
  font-weight: 500;
  font-size: 1.6rem;
  height: 3.5rem;
  background: none;
  outline: none;
  border: 1px solid var(--primary);
  border-radius: 5px;
  color: var(--primary);
  cursor: pointer;
}
#add-note button:hover,
#add-note button:focus {
  color: var(--bg);
  background-color: var(--primary);
}
#d-note {
  background-color: var(--accent);
  padding: 2rem;
  height: 50vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--gray);
}
#d-note h2 {
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: 1rem;
}
#d-note p {
  font-weight: 400;
  font-size: 2rem;
}

/**** Design for Laptops and small screens ****/
@media (min-width: 790px) {
  body {
    overflow: hidden;
  }
  #body {
    height: 100vh;
    flex-direction: row !important;
  }
  #first-time button {
    width: 25rem;
  }
  .header .add-note-link {
    display: none;
  }
  .header {
    display: none;
  }
  .left-pane .header {
    display: flex;
  }
  .left-pane {
    min-width: 40vw;
    border-right: 2px solid var(--gray);
  }
  .left-pane #notes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: stretch;
    height: 90vh;
    padding: 0;
    grid-gap: 0;
  }
  .note-card {
    border: none;
    border-radius: 0;
    padding: 1.75rem 2rem;
    margin: 0;
  }
  .note-card p {
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .right-pane {
    min-width: 60vw;
    flex-direction: column;
  }
  .right-pane #add-note {
    display: flex !important;
  }
  .right-pane #d-note {
    display: block !important;
  }
}
