:root {
  --bg: #f0ffff;
  --gray: #dddddd;
  --primary: #5a9cff;
  --accent: #9fc6ff;
  --danger: #ff0101;
  --danger-dark: #b90404;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 65%;
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: var(--gray);
}

/* Design for Laptops and small screens */
@media (min-width: 790px) {
  body {
    overflow: hidden;
  }
  .body {
    display: flex;
  }
  .header {
    display: contents;
  }
  .header .add-note-link {
    display: none;
  }
  .left-pane {
    min-width: 40vw;
    border-right: 2px solid var(--gray);
  }
  .right-pane {
    min-width: 60vw;
  }
}
.body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg);
  min-height: 100vh;
  min-width: 100vw;
}
.left-pane .header {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.header h2 {
  font-size: 5rem;
}
.header .add-note-link {
  font-size: 1.2rem;
  text-decoration: none;
}
.header .add-note-link:hover {
  text-decoration: underline;
}
.left-pane .notes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  height: 90vh;
  scrollbar-width: thin;
  scrollbar-color: var(--gray);
}
.note-card {
  display: flex;
  flex-direction: column;
  padding: 1.7rem 2rem;
  cursor: pointer;
}
.note-card:hover {
  background-color: var(--primary);
}
.note-card h4 {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
}
.note-card p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  max-width: 90%;
  font-size: 1.2rem;
  margin-top: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.note-card button {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: var(--danger);
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
}
.note-card button:hover {
  color: var(--danger-dark);
}
.note-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-pane .add-note {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  border-bottom: 2px solid var(--gray);
}
.add-note input {
  font-size: 2rem;
  font-weight: 700;
}
.add-note textarea {
  font-size: 1.5rem;
  resize: none;
}
.add-note input,
.add-note textarea {
  font-family: "Roboto", sans-serif;
  border: 3px solid var(--gray);
  border-radius: 5px;
  outline: none;
  background-color: var(--gray);
  padding: 1rem;
}
.add-note input:focus,
.add-note textarea:focus {
  border: 3px solid var(--primary);
}
.add-note button {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  height: 3.5rem;
  background: none;
  outline: none;
  border: 1px solid var(--primary);
  border-radius: 5px;
  color: var(--primary);
  cursor: pointer;
}
.add-note button:hover,
.add-note button:focus {
  color: var(--bg);
  background-color: var(--primary);
}
.d-note {
  background-color: var(--accent);
  min-height: 50vh;
  padding: 1rem;
}
.d-note h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: 1rem;
}
.d-note p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}
